.footer-button {
  &.md {
    height: 56px;
  }
  &.ios {
    height: 50px;
  }
}

.ticket-id {
  padding: 5px;
}

.ticket-number {
  border: 1px solid black;
  border-radius: 15px;
  padding: 3px;
}

.ticket-number-powerplay {
  border: 1px solid red;
  border-radius: 15px;
  padding: 3px;
}
