<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>ticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngFor="let ticket of tickets" class="ion-align-items-center">
    <ion-col>
      <ion-text class="ticket-id" color="secondary">
        {{ ticket.id }}
      </ion-text>
    </ion-col>
    <ion-col size="1.5" *ngFor="let num of ticket.nums; let i=index">
      <ion-text [ngClass]="{'ticket-number': i !== 5, 'ticket-number-powerplay': i === 5}">
        {{ num }}
      </ion-text>
    </ion-col>
    <ion-col>
      <ion-checkbox></ion-checkbox>
    </ion-col>
  </ion-row>

  <img [src]="photo">

  <ion-button (click)="takePicture()" expand="block" fill="solid" shape="round">
    Take photo
  </ion-button>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button class="footer-button ion-no-margin" expand="full" fill="solid">
    Confirm
  </ion-button>
</ion-footer>
