<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Klotto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Klotto</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>

<ion-footer>
  <ion-button class="footer-button" color="primary" expand="full">Next</ion-button>
</ion-footer>
